<!doctype html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>SocialV - Responsive Bootstrap 4 Admin Dashboard Template</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/static/img/main_icon.png" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/static/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/static/css/responsiv.css">
   </head>
    <body class="iq-bg-primary">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center">
            </div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="container p-0">
                <div class="row no-gutters">
                    <div class="col-sm-12 text-center">
                        <div class="iq-error position-relative mt-5">
                            <img src="/static/img/error/01.png" class="img-fluid iq-error-img" alt="">
                            <h1 class="text-in-box">404</h1>
                            <h2 class="mb-0">Oops! Что-то пошло не так.</h2>
<#--                            <p>The requested is Internal Server Error.</p>-->
                            <a class="btn btn-primary mt-3" href="/"><i class="ri-home-4-line"></i>Вернуться на главную</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wrapper END -->
        <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/static/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/static/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/static/js/waypoints.min.js"></script>
      <script src="/static/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="/static/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/static/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/static/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/static/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/static/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/static/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/static/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/static/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/static/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/static/js/custom.js"></script>
    </body>
</html>