<#import "parts/common.ftl" as c>

<@c.page>
    <div class="col-md-10 offset-md-1">
        <div class="tab-content">
            <div class="iq-card">
                <div class="iq-card-body">
                    <h5 class="mt-2">
                        <b>Утеплитель36</b> - это оптово-розничная база, где любой клиент может приобрести теплоизоляцию
                        ведущих
                        заводов производителей на выгодных условиях.
                    </h5>
                    <h5><br><b>Наши преимущества:</b></h5>
                    <div class="col-md-10 offset-md-1">
                        <p><br><b>Индивидуальный подход к каждому клиенту</b><br>

                            Это позволяет приобрести товар, объемом от 1 листа до крупных партий, и плюс к этому
                            дополнительные, сопутствующие товары по самым выгодным ценам.<br><br>

                            <b>Оплата товара при получении</b><br>

                            Заказывайте онлайн, оплачивайте при получении наличными или картой.<br><br>

                            <b>Быстрая и экономичная доставка</b><br>

                            Доставка товара осуществляется в сжатые сроки и по привлекательной цене. Компания Утеплитель
                            36
                            готова доставить Ваш товар прямо на объект из имеющейся номенклатуры или под заказ в сжатые
                            сроки. Мы предоставляем услуги по доставке вашего товара нашим транспортом.<br><br>

                            <b>Возможность самовывоза</b><br>

                            Заказывайте онлайн, забирайте на складе без очередей и ожидания.<br><br>

                            <b>Быстрый заказ</b><br>

                            Оставьте заявку на сайте и с вами свяжутся для составления необходимого вам заказа.<br><br>

                            <b>Обьектные скидки</b><br>

                            Для крупных строительных организаций мы готовы пойти навстречу и предложить вам лучшее
                            коммерческое предложение на рынке.
                            Чем больше Ваш заказ – тем больше Ваша скидка!<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</@c.page>