<#import "parts/common.ftl" as c>

<@c.page>
    <div class="col-md-10 offset-md-1">
        <div class="tab-content">
            <div class="iq-card">
                <div class="iq-card-body">
                    <h4 class="mt-2"><b>Оплата</b></h4>
                    <p><br>Физическим лицам:<br>
                        Оплата товара производится при получении товара с доставкой курьеру наличными/банковской картой.
                        При самовывозе оплата в кассу наличными/банковской картой.<br><br>
                        Юридическим лицам:<br>
                        Оплата производится через банк, путем выставления счета с НДС.

                        <b>Обьектные скидки</b><br>
                    </p>
                </div>
            </div>
        </div>
    </div>

</@c.page>