<#import "parts/common.ftl" as c>

<@c.page>
    <div class="col-md-10 offset-md-1">
        <div class="tab-content">
            <div class="iq-card">
                <div class="iq-card-body">
                    <h4 class="mt-2"><b>Доставка</b></h4>
                    <p><br>
                        Доставка товара возможна в день оформления заказа (при условии наличия на складе).<br><br>

                        Курьер перед погрузкой материала связывается с вами для обсуждения деталей доставки.
                        Оплата товара для физических лиц может быть произведена на месте выгрузки наличным
                        расчетом или банковской картой через терминал с выдачей чека.<br><br>

                        Стоимость доставки зависит от объема Вашего заказа и дальности перевозки.<br><br>

                        Стоимость доставки в область уточняйте у менеджера.
                    </p>
                </div>
            </div>
        </div>
    </div>

</@c.page>